.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  display: none;
}

.text-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
